@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(180deg, #04080F 0%, #020401 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.logo{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: solid 2px #fff;
    align-items: center;
}


h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #04E428 0%, #0AC027 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h3 {
    margin: 0;
    padding: 0;
    color: #CBCBCB;
    font-weight: 100;
    font-size: 0.7rem;
    margin-bottom: 15%;
}

header.header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column
}

div.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.buttons >  button {
    color:#04080F;
    cursor: pointer;
    border: none;
    margin-bottom: 4%;
    font-size: 1rem;
    font-weight: 600;
    width: 450px;
    height: 55px;
    background: linear-gradient(90deg, #04E428 0%, #13C730 100%);
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

div.buttons >  button:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #0abd27 0%, #0d9724 100%);
    color: rgb(41, 37, 37);
}

footer {
    font-size: 0.8rem;
    margin-top: 20px;
    color: white;
}


/* media queries */

@media screen and (max-width: 600px) {
    div.container {
        margin-bottom: 100px;
    }


    div.buttons >  button {
        color:#04080F;
        width: 360px;
    }

    footer {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 20px;
        color: white;
    }
}